// IE-11 Bugfix (image scaling)
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .ci-article-landscape,
   .ci-article-portrait {
	    flex: 1;
   }

   .ci-article-image {
	   	min-height: 1px;
	}
}

.ci-image {
	figure {
		max-width: 100%;
	}
}

.ci-col .ci-image {
	display: block;
	min-height: 1px;
}

.img-fluid img {
	max-width: 100%;
	height: auto;
}

// IE-11 Bugfix (image scaling)

//Generall Boosrtap-Overrides
[class*="col-"].d-flex > * {
	max-width: 100%;
}
