@if variable-exists(dev-mode) {
	@if ($dev-mode) {
		
		.grid-lines {
			@include stripes(to right, $grid-lines-color);		
		}

		body::after {
            content: "xs";
            position: fixed;
            font-size: 14px;
            padding: 0 4px;
            bottom: 8px;
            right: 8px;
            background: rgba(0,0,0,0.7);
            text-align: center;
            color: white;
            z-index: 10000;
        }
        
        @each $breakpoint, $width in $grid-breakpoints {
            @include media-breakpoint-only($breakpoint) {
                body::after {
                    content: "#{$breakpoint}";
                }
            }
        }
	}
}