// Core variables and mixins
@import "../node_modules/bootstrap/scss/functions";
@import "custom/custom";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

.bd-example {
	padding: 1.5rem;
	margin-right: 0;
	margin-left: 0;
	border: solid #f8f9fa;
	border-width: .2rem;
}

.bd-example-row .row > .col, .bd-example-row .row > [class^="col-"] {
	padding-top: .75rem;
	padding-bottom: .75rem;
	background-color: rgba($gray-700,.15);
	border: 1px solid rgba($gray-700,.2);
}

@each $color, $value in $colors {
	.swatch-#{$color} {
	  color: color-yiq($value);
	  background-color: #{$value};
	}
  }
  
  @each $color, $value in $theme-colors {
	.swatch-#{$color} {
	  color: color-yiq($value);
	  background-color: #{$value};
	}
  }
  

@each $color, $value in $project-theme-colors {
	.swatch-#{$color} {
		color: color-yiq($value);
		background-color: #{$value};
	}
}


  @each $color, $value in $grays {
	.swatch-#{$color} {
	  color: color-yiq($value);
	  background-color: #{$value};
	}
  }

  .swatch-white {
	color: color-yiq($white);
	background-color: $white;
  }

  .swatch-black {
	color: color-yiq($black);
	background-color: $black;
  }

  @each $color, $value in $project-grays {
	.swatch-#{$color} {
	  color: color-yiq($value);
	  background-color: #{$value};
	}
  }