.ifc-search:before {
  content: "\f002";
}
.ifc-phone:before {
  content: "\f095";
}
.ifc-chain:before {
  content: "\f0c1";
}
.ifc-envelope:before {
  content: "\f0e0";
}
.ifc-angle-left:before {
  content: "\f104";
}
.ifc-angle-right:before {
  content: "\f105";
}
.ifc-angle-down:before {
  content: "\f107";
}
.ifc-attach_file:before {
  content: "\e226";
}
.ifc-close:before {
  content: "\e5cd";
}
.ifc-arrow-right:before {
  content: "\e317";
}
